*{
   margin: 0;
   padding: 0;
}

#nav h1{
  font-size: 27px;
  text-transform: capitalize;
  text-align: center;
  background-color: burlywood;

  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

#outer{
  font-size: 25px;
}

#outer #inner{
  font-size: 10px;
}