.progress-container{
  width: 90%;
  height: 25px;
  background-color: cadetblue;

  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  left: 4%;
}

.progress-bar{
   background-color: chocolate;
   /* width: 50%; */
   height: 100%;
   border-radius: 20px;

   animation: progress 5s;
}

@keyframes progress {
    /* from{
      width: 0%;
    }

    to{
      width: 100%;
    } */

    0%{
      width: 0%;
    }
    90%{
      width: 95%;
    }
    95%{
      width: 70%;
    }
    100%{
      width: 100%;
    }
}