#box-container{
   border: 2px solid black;
   /* height: 150px; */
   /* width: 150px; */
}

.box{
  height: 100px;
  width: 100px;
  /* border: 1px solid black; */
  margin: 10px;
  padding:10px;
  border-radius: 5px;
  
  transition: all 2s ease-in-out 0s;
}

.box:hover{
  height: 200px;
  width: 200px;
  /* border: 1px solid black; */
  margin: 20px;
  padding:20px;
  border-radius: 15px;
  
  transition: all 3s ease-in-out 0s;

}


.box1{
  background-image: url(images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.box1:hover{
 /* transform: rotate(45deg);  */
 /* transform: scale(2); */
 /* transform: translate(50px); */
 transform: skew(45deg);
}


.box2{
  background-image: url(images/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box2:hover{
  /* transform: rotate(180deg); */
    /* transform: scale(4); */
    /* transform: translate(50px,50px); */
    transform: skew(180deg);
}


.box3{
  background-image: url(images/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.box3:hover{
  /* transform: rotateX(60deg); */
  /* transform: scaleY(2); */
  /* transform: translateX(50px); */
  transform: skewX(60deg);
  
}

.box4{
  background-image: url(images/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box4:hover{
  /* transform: rotateY(270deg); */
  /* transform: scaleX(2); */
  /* transform: translateY(50px); */
  transform: skewY(60deg);
}